In [27]:

#Importing important libraries 

import pandas as pd

from pandas import DataFrame 

#Reading Dataset 

df_tennis = pd.read_csv('/home/abhi/Desktop/adult.csv')

print( df_tennis)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [34]:

#Function to calculate final Entropy 

def entropy(probs):  

    import math

    return sum( [-prob*math.log(prob, 2) for prob in probs] )

#Function to calculate Probabilities of positive and negative examples 

def entropy_of_list(a_list):

    from collections import Counter

    cnt = Counter(x for x in a_list) #Count the positive and negative ex

    num_instances = len(a_list)

#Calculate the probabilities that we required for our entropy formula 

    probs = [x / num_instances for x in cnt.values()] 

#Calling entropy function for final entropy 

    return entropy(probs)

total_entropy = entropy_of_list(df_tennis['income'])

print("\n Total Entropy of PlayTennis Data Set:",total_entropy)

 Total Entropy of PlayTennis Data Set: 0.7938438393644257

In [38]:
# #Defining Information Gain Function 

def information_gain(df, split_attribute_name, target_attribute_name, trace=0):

    print("Information Gain Calculation of ",split_attribute_name)

    print("target_attribute_name",target_attribute_name)

#Grouping features of Current Attribute

    df_split = df.groupby(split_attribute_name)

    for name,group in df_split:

        print("Name: ",name)

        print("Group: ",group)

    nobs = len(df.index) * 1.0

    print("NOBS",nobs)

#Calculating Entropy of the Attribute and probability part of formula 

    df_agg_ent = df_split.agg({target_attribute_name : [entropy_of_list, lambda x: len(x)/nobs] })[target_attribute_name]

    print("df_agg_ent",df_agg_ent)

# Calculate Information Gain

    avg_info = sum( df_agg_ent['Entropy'] * df_agg_ent['Prob1'] )

    old_entropy = entropy_of_list(df[target_attribute_name])

    return old_entropy - avg_info

print('Info-gain for Outlook is :'+str(information_gain(df_tennis, 'workclass', 'income')),"\n")

Information Gain Calculation of  workclass
target_attribute_name income
Name:  ?
Group:         age workclass  fnlwgt     education  educational-num  \
4       18         ?  103497  Some-college               10
6       29         ?  227026       HS-grad                9
13      58         ?  299831       HS-grad                9
22      72         ?  132015       7th-8th                4
35      65         ?  191846       HS-grad                9
...    ...       ...     ...           ...              ...
48811   35         ?  320084     Bachelors               13
48812   30         ?   33811     Bachelors               13
48820   71         ?  287372     Doctorate               16
48822   41         ?  202822       HS-grad                9
48823   72         ?  129912       HS-grad                9

           marital-status occupation   relationship                race  \
4           Never-married          ?      Own-child               White
6           Never-married          ?      Unmarried               Black
13     Married-civ-spouse          ?        Husband               White
22               Divorced          ?  Not-in-family               White
35     Married-civ-spouse          ?        Husband               White
...                   ...        ...            ...                 ...
48811  Married-civ-spouse          ?           Wife               White
48812       Never-married          ?  Not-in-family  Asian-Pac-Islander
48820  Married-civ-spouse          ?        Husband               White
48822           Separated          ?  Not-in-family               Black
48823  Married-civ-spouse          ?        Husband               White

       gender  capital-gain  capital-loss  hours-per-week native-country  \
4      Female             0             0              30  United-States
6        Male             0             0              40  United-States
13       Male             0             0              35  United-States
22     Female             0             0               6  United-States
35       Male             0             0              40  United-States
...       ...           ...           ...             ...            ...
48811  Female             0             0              55  United-States
48812  Female             0             0              99  United-States
48820    Male             0             0              10  United-States
48822  Female             0             0              32  United-States
48823    Male             0             0              25  United-States

      income
4      <=50K
6      <=50K
13     <=50K
22     <=50K
35     <=50K
...      ...
48811   >50K
48812  <=50K
48820   >50K
48822  <=50K
48823  <=50K

[2799 rows x 15 columns]
Name:  Federal-gov
Group:         age    workclass  fnlwgt     education  educational-num  \
11      36  Federal-gov  212465     Bachelors               13
86      20  Federal-gov  244689          11th                7
88      24  Federal-gov  228724  Some-college               10
91      49  Federal-gov   77443       7th-8th                4
93      59  Federal-gov   98984     Bachelors               13
...    ...          ...     ...           ...              ...
48664   28  Federal-gov  381789     Bachelors               13
48667   59  Federal-gov   23789       HS-grad                9
48709   39  Federal-gov  110622     Bachelors               13
48754   41  Federal-gov  160467       Masters               14
48796   66  Federal-gov   47358          10th                6

           marital-status      occupation   relationship                race  \
11     Married-civ-spouse    Adm-clerical        Husband               White
86          Never-married   Other-service      Own-child               White
88          Never-married    Armed-Forces  Not-in-family               White
91          Never-married   Other-service  Not-in-family               Black
93               Divorced    Adm-clerical  Not-in-family               White
...                   ...             ...            ...                 ...
48664       Never-married  Prof-specialty  Not-in-family               White
48667  Married-civ-spouse           Sales           Wife               White
48709  Married-civ-spouse    Adm-clerical           Wife  Asian-Pac-Islander
48754            Divorced  Prof-specialty      Unmarried               White
48796  Married-civ-spouse    Craft-repair        Husband               White

       gender  capital-gain  capital-loss  hours-per-week native-country  \
11       Male             0             0              40  United-States
86     Female             0             0              10  United-States
88       Male             0             0              40  United-States
91       Male             0             0              20  United-States
93       Male             0             0              40  United-States
...       ...           ...           ...             ...            ...
48664    Male             0             0              50  United-States
48667  Female             0             0              40  United-States
48709  Female             0             0              40    Philippines
48754  Female          1506             0              40  United-States
48796    Male          3471             0              40  United-States

      income
11     <=50K
86     <=50K
88     <=50K
91     <=50K
93     <=50K
...      ...
48664  <=50K
48667   >50K
48709  <=50K
48754  <=50K
48796  <=50K

[1432 rows x 15 columns]
Name:  Local-gov
Group:         age  workclass  fnlwgt     education  educational-num  \
2       28  Local-gov  336951    Assoc-acdm               12
33      23  Local-gov  258120  Some-college               10
36      36  Local-gov  403681     Bachelors               13
57      34  Local-gov  382078     Bachelors               13
64      47  Local-gov  171807       HS-grad                9
...    ...        ...     ...           ...              ...
48783   35  Local-gov   79649     Bachelors               13
48792   25  Local-gov  514716     Bachelors               13
48799   57  Local-gov  110417       HS-grad                9
48824   45  Local-gov  119199    Assoc-acdm               12
48826   39  Local-gov  111499    Assoc-acdm               12

           marital-status       occupation   relationship   race  gender  \
2      Married-civ-spouse  Protective-serv        Husband  White    Male
33     Married-civ-spouse  Protective-serv        Husband  White    Male
36     Married-civ-spouse   Prof-specialty        Husband  White    Male
57     Married-civ-spouse  Exec-managerial        Husband  White    Male
64               Divorced     Adm-clerical  Not-in-family  White  Female
...                   ...              ...            ...    ...     ...
48783  Married-civ-spouse   Prof-specialty        Husband  White    Male
48792       Never-married     Adm-clerical      Own-child  Black  Female
48799  Married-civ-spouse     Craft-repair        Husband  White    Male
48824            Divorced   Prof-specialty      Unmarried  White  Female
48826  Married-civ-spouse     Adm-clerical           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
2                 0             0              40  United-States   >50K
33                0             0              40  United-States  <=50K
36                0             0              40  United-States   >50K
57             3103             0              50  United-States   >50K
64                0             0              40  United-States  <=50K
...             ...           ...             ...            ...    ...
48783             0             0              50  United-States  <=50K
48792             0             0              40  United-States  <=50K
48799         99999             0              40  United-States   >50K
48824             0             0              48  United-States  <=50K
48826             0             0              20  United-States   >50K

[3136 rows x 15 columns]
Name:  Never-worked
Group:         age     workclass  fnlwgt     education  educational-num  \
8785    17  Never-worked  131593          11th                7
11607   20  Never-worked  273905       HS-grad                9
13898   18  Never-worked  162908          11th                7
21642   18  Never-worked  206359          10th                6
27126   23  Never-worked  188535       7th-8th                4
31053   17  Never-worked  237272          10th                6
36618   18  Never-worked  157131          11th                7
39513   20  Never-worked  462294  Some-college               10
48585   30  Never-worked  176673       HS-grad                9
48595   18  Never-worked  153663  Some-college               10

              marital-status occupation    relationship   race  gender  \
8785           Never-married          ?       Own-child  Black  Female
11607  Married-spouse-absent          ?  Other-relative  White    Male
13898          Never-married          ?       Own-child  White    Male
21642          Never-married          ?       Own-child  White    Male
27126               Divorced          ?   Not-in-family  White    Male
31053          Never-married          ?       Own-child  White    Male
36618          Never-married          ?       Own-child  White  Female
39513          Never-married          ?       Own-child  Black    Male
48585     Married-civ-spouse          ?            Wife  Black  Female
48595          Never-married          ?       Own-child  White    Male

       capital-gain  capital-loss  hours-per-week native-country income
8785              0             0              20  United-States  <=50K
11607             0             0              35  United-States  <=50K
13898             0             0              35  United-States  <=50K
21642             0             0              40  United-States  <=50K
27126             0             0              35  United-States  <=50K
31053             0             0              30  United-States  <=50K
36618             0             0              10  United-States  <=50K
39513             0             0              40  United-States  <=50K
48585             0             0              40  United-States  <=50K
48595             0             0               4  United-States  <=50K
Name:  Private
Group:         age workclass  fnlwgt     education  educational-num  \
0       25   Private  226802          11th                7
1       38   Private   89814       HS-grad                9
3       44   Private  160323  Some-college               10
5       34   Private  198693          10th                6
8       24   Private  369667  Some-college               10
...    ...       ...     ...           ...              ...
48836   22   Private  310152  Some-college               10
48837   27   Private  257302    Assoc-acdm               12
48838   40   Private  154374       HS-grad                9
48839   58   Private  151910       HS-grad                9
48840   22   Private  201490       HS-grad                9

           marital-status         occupation   relationship   race  gender  \
0           Never-married  Machine-op-inspct      Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing        Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
5           Never-married      Other-service  Not-in-family  White    Male
8           Never-married      Other-service      Unmarried  White  Female
...                   ...                ...            ...    ...     ...
48836       Never-married    Protective-serv  Not-in-family  White    Male
48837  Married-civ-spouse       Tech-support           Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
48839             Widowed       Adm-clerical      Unmarried  White  Female
48840       Never-married       Adm-clerical      Own-child  White    Male

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
3              7688             0              40  United-States   >50K
5                 0             0              30  United-States  <=50K
8                 0             0              40  United-States  <=50K
...             ...           ...             ...            ...    ...
48836             0             0              40  United-States  <=50K
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K

[33906 rows x 15 columns]
Name:  Self-emp-inc
Group:         age     workclass  fnlwgt   education  educational-num  \
41      44  Self-emp-inc  120277   Assoc-voc               11
49      56  Self-emp-inc  131916     HS-grad                9
58      42  Self-emp-inc  170721     HS-grad                9
66      41  Self-emp-inc  445382  Assoc-acdm               12
77      69  Self-emp-inc  174379     HS-grad                9
...    ...           ...     ...         ...              ...
48730   44  Self-emp-inc   71556     Masters               14
48743   48  Self-emp-inc  185041     HS-grad                9
48745   45  Self-emp-inc  173664   Bachelors               13
48750   58  Self-emp-inc  181974   Doctorate               16
48841   52  Self-emp-inc  287927     HS-grad                9

           marital-status       occupation   relationship   race  gender  \
41     Married-civ-spouse            Sales        Husband  White    Male
49                Widowed  Exec-managerial  Not-in-family  White  Female
58     Married-civ-spouse  Exec-managerial        Husband  White    Male
66     Married-civ-spouse     Craft-repair        Husband  White    Male
77     Married-civ-spouse            Sales        Husband  White    Male
...                   ...              ...            ...    ...     ...
48730  Married-civ-spouse            Sales        Husband  White    Male
48743  Married-civ-spouse     Craft-repair        Husband  White    Male
48745  Married-civ-spouse  Exec-managerial        Husband  White    Male
48750       Never-married   Prof-specialty  Not-in-family  White  Female
48841  Married-civ-spouse  Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
41                0             0              45  United-States   >50K
49                0             0              50  United-States  <=50K
58             5178             0              50  United-States   >50K
66            15024             0              60  United-States   >50K
77                0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48730             0             0              50              ?   >50K
48743          7298             0              50  United-States   >50K
48745             0             0              45  United-States   >50K
48750             0             0              99              ?  <=50K
48841         15024             0              40  United-States   >50K

[1695 rows x 15 columns]
Name:  Self-emp-not-inc
Group:         age         workclass  fnlwgt     education  educational-num  \
7       63  Self-emp-not-inc  104626   Prof-school               15
25      45  Self-emp-not-inc  432824       HS-grad                9
29      32  Self-emp-not-inc  109282  Some-college               10
31      56  Self-emp-not-inc  186651          11th                7
32      24  Self-emp-not-inc  188274     Bachelors               13
...    ...               ...     ...           ...              ...
48737   30  Self-emp-not-inc  261943          11th                7
48749   39  Self-emp-not-inc  193689       HS-grad                9
48773   42  Self-emp-not-inc  217597       HS-grad                9
48829   65  Self-emp-not-inc   99359   Prof-school               15
48831   43  Self-emp-not-inc   27242  Some-college               10

              marital-status       occupation   relationship   race  gender  \
7         Married-civ-spouse   Prof-specialty        Husband  White    Male
25        Married-civ-spouse     Craft-repair        Husband  White    Male
29             Never-married   Prof-specialty  Not-in-family  White    Male
31                   Widowed    Other-service      Unmarried  White  Female
32             Never-married            Sales  Not-in-family  White    Male
...                      ...              ...            ...    ...     ...
48737  Married-spouse-absent     Craft-repair  Not-in-family  White    Male
48749          Never-married  Exec-managerial  Not-in-family  White    Male
48773               Divorced            Sales      Own-child  White    Male
48829          Never-married   Prof-specialty  Not-in-family  White    Male
48831     Married-civ-spouse     Craft-repair        Husband  White    Male

       capital-gain  capital-loss  hours-per-week native-country income
7              3103             0              32  United-States   >50K
25             7298             0              90  United-States   >50K
29                0             0              60  United-States  <=50K
31                0             0              50  United-States  <=50K
32                0             0              50  United-States  <=50K
...             ...           ...             ...            ...    ...
48737             0             0              30       Honduras  <=50K
48749             0             0              65  United-States  <=50K
48773             0             0              50              ?  <=50K
48829          1086             0              60  United-States  <=50K
48831             0             0              50  United-States  <=50K

[3862 rows x 15 columns]
Name:  State-gov
Group:         age  workclass  fnlwgt     education  educational-num  \
16      20  State-gov  444554  Some-college               10
30      46  State-gov  106444  Some-college               10
44      20  State-gov  138371  Some-college               10
154     40  State-gov   67874     Bachelors               13
164     46  State-gov   56841       Masters               14
...    ...        ...     ...           ...              ...
48641   58  State-gov  200316       HS-grad                9
48661   48  State-gov  224474  Some-college               10
48760   64  State-gov  222966       7th-8th                4
48821   45  State-gov  252208       HS-grad                9
48830   43  State-gov  255835  Some-college               10

           marital-status       occupation    relationship   race  gender  \
16          Never-married    Other-service       Own-child  White    Male
30     Married-civ-spouse  Exec-managerial         Husband  Black    Male
44          Never-married  Farming-fishing       Own-child  White    Male
154    Married-civ-spouse     Adm-clerical         Husband  White    Male
164    Married-civ-spouse  Exec-managerial         Husband  White    Male
...                   ...              ...             ...    ...     ...
48641  Married-civ-spouse     Craft-repair         Husband  White    Male
48661            Divorced  Exec-managerial   Not-in-family  White  Female
48760  Married-civ-spouse    Other-service            Wife  Black  Female
48821           Separated     Adm-clerical       Own-child  White  Female
48830            Divorced     Adm-clerical  Other-relative  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
16                0             0              25  United-States  <=50K
30             7688             0              38  United-States   >50K

df_agg_ent                   entropy_of_list  <lambda_0>
workclass
?                        0.451890    0.057307
Federal-gov              0.965926    0.029319
Local-gov                0.875845    0.064207
Never-worked             0.000000    0.000205
Private                  0.756254    0.694198
Self-emp-inc             0.991759    0.034704
Self-emp-not-inc         0.853908    0.079071
State-gov                0.837915    0.040559
Without-pay              0.453716    0.000430

KeyError: 'Entropy'

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30161 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              30161 non-null  int64
 1    State-gov      30161 non-null  object
 2    77516          30161 non-null  int64
 3    Bachelors      30161 non-null  object
 4    13             30161 non-null  int64
 5    Never-married  30161 non-null  object
 6    Adm-clerical   30161 non-null  object
 7    Not-in-family  30161 non-null  object
 8    White          30161 non-null  object
 9    Male           30161 non-null  object
 10   2174           30161 non-null  int64
 11   0              30161 non-null  int64
 12   40             30161 non-null  int64
 13   United-States  30161 non-null  object
 14   <=50K          30161 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:

df = df.drop(['income','fnlwgt','capital-gain','capital-loss','native-country'], axis=1)

KeyError: "['income' 'fnlwgt' 'capital-gain' 'capital-loss' 'native-country'] not found in axis"

In [6]:
# Use one-hot encoding on categorial columns
df = pd.get_dummies(df, columns=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex'])

KeyError: "['sex'] not in index"

In [ ]:
# Get Predictor Names (all but 'class')

attribute_names = list(df_tennis.columns)

print("List of Attributes:", attribute_names) 

attribute_names.remove('age')

#Remove the class attribute 

print("Predicting Attributes:", attribute_names)

In [ ]:
# Run Algorithm (Calling ID3 function)

from pprint import pprint

tree = id3(df_tennis,'age',attribute_names)

print("\n\nThe Resultant Decision Tree is :\n")

pprint(tree)

attribute = next(iter(tree))

print("Best Attribute :\n",attribute)

print("Tree Keys:\n",tree[attribute].keys())

In [ ]:
#Defining a function to calculate accuracy

def classify(instance, tree, default=None):

    attribute = next(iter(tree))

    print("Key:",tree.keys())

    print("Attribute:",attribute)

    print("Insance of Attribute :",instance[attribute],attribute)

    if instance[attribute] in tree[attribute].keys(): 

        result = tree[attribute][instance[attribute]]

        print("Instance Attribute:",instance[attribute],"TreeKeys :",tree[attribute].keys())

        if isinstance(result, dict): 

            return classify(instance, result)

        else:

            return result 

    else:

        return default

In [ ]:
tree = id3(df_tennis,'age',attribute_names)
df_tennis['predicted'] = df_tennis.apply(classify, axis=1, args=(tree,'No') ) 

print(df_tennis['predicted'])

print('\n Accuracy is:\n' + str( sum(df_tennis['PT']==df_tennis['predicted'] ) / (1.0*len(df_tennis.index)) ))

df_tennis[['PT', 'predicted']]

In [ ]:

training_data = df_tennis.iloc[1:-4] 

test_data  = df_tennis.iloc[-4:]

train_tree = id3(training_data, 'age', attribute_names)

test_data['predicted2'] = test_data.apply(  

classify, axis=1, args=(train_tree,'Yes') ) 

print ('\n\n Accuracy is : ' + str( sum(test_data['PT']==test_data['predicted2'] ) / (1.0*len(test_data.index)) ))